.home {
    padding-top: 40px;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;	
}

.home h1 {
	font-family: var(--font-family-accent);
	font-size: var(--font-size-xl);
    color: var(--color-black);
	margin-bottom: 16px;
	
}

.home p {
	color: var(--color-gray-dark);
	font-size: var(--font-size-m);
}
.image {
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: var(--radius-l);
	box-shadow: var(--shadow-s);
}