.card {
	width: 396px;
	height: 320px;
	perspective: 1000px;
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flipped .inner {
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	padding: 56px 36px 36px;
	border-radius: 24px;
	backface-visibility: hidden;
	box-shadow: var(--shadow-m);
	border: 1px solid var(--color-gray);

}

.front {
	background: var(--color-white);
	color: var(--color-black);
}

.back {
	background: var(--color-blue);
	color: var(--color-white);
	transform: rotateY(180deg);
	padding: 36px;
}

.circle {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 16px;
	height: 16px;
	background: var(--color-gray-light);
	border: 1px solid var(--color-gray);
	border-radius: 50%;
}

.title {
	font-family: var(--font-family-main);
	font-size: var(--font-size-m);
	color: var(--color-black);
}

.word {
	margin-top: 8px;
	font-family: var(--font-family-accent);
	font-size: 36px;
	line-height: 1.1;
	color: var(--color-black);
}

.word {
	margin-top: 8px;
	font-family: var(--font-family-accent);
	font-size: 36px;
	line-height: 1.1;
	color: var(--color-black);
}

.front .word {
	text-align: left;
}

.back .word {
	color: var(--color-white);
	text-align: center;

}

.pos {
	margin-top: 8px;
	font-size: var(--font-size-s);
	font-style: italic;
	color: var(--color-gray-dark);
}

.back .pos {
	color: var(--color-gray);
}

.example {
	margin-top: 24px;
	font-size: var(--font-size-s);
	color: var(--color-gray-dark);
}

.front>button,
.back>button {
	margin-top: auto;
}

.back button {
	background: var(--color-white);
	color: var(--color-blue);
	border: none;
}

.back button:hover {
	background: var(--color-blue);
	color: var(--color-white);
	border: 1px solid var(--color-white);
}
.pair {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex: 1;
}

.equals,
.translation {
	text-align: center;
}

.equals {
	font-family: var(--font-family-accent);
	font-size: var(--font-size-l);
	color: var(--color-white);
}

.translation {
	font-family: var(--font-family-accent);
	font-size: 28px;
	line-height: 1.1;
	color: var(--color-white);
}