.field {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 16px;
}

.label {
	font-size: var(--font-size-s);
	color: var(--color-gray-dark);
	font-weight: 500;
}

.error {
	font-size: var(--font-size-xs);
	color: var(--color-red);
	margin-top: 4px;
}
