.logo {
	font-family: var(--font-family-accent);
	font-size: var(--font-size-l);
	color: var(--color-black);
	text-decoration: none;
    transition: transform 0.15s, color 0.15s;

}

.logo:hover {
    transform: scale(1.1);
	text-decoration: none;
	color: var(--color-indigo);
}