.form {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 336px));
	justify-content: center;
	gap: 8px 24px;
	max-width: 800px;
	margin: 0 auto;
	padding: 32px;
	background: var(--color-white);
	border-radius: var(--radius-l);
	box-shadow: var(--shadow-m);
}
 .button {
     grid-column: 1 / -1;
     justify-self: center;
 }

 @media (max-width: 640px) {
     .form {
         grid-template-columns: 1fr;
     }
 }